![logo_academia.png]()

#<center><font color = 'green'>Ejercicios</font></center>

1. Tenemos dos DataFrames df1 y df2 con información de estudiantes y sus calificaciones. Combina estos DataFrames en uno solo, utilizando como clave de combinación la columna 'ID'.

In [3]:
import pandas as pd

data1 = {'ID': [1, 2, 3, 4],
         'Nombre': ['Alice', 'Bob', 'Charlie', 'David']}
data2 = {'ID': [2, 3, 4, 5],
         'Calificación': [85, 92, 78, 88]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

#Completa aquí con tu solución

In [2]:
# Combinar los DataFrames utilizando la columna 'ID' como clave
resultado = pd.merge(df1, df2, on='ID')
print(resultado)

   ID   Nombre  Calificación
0   2      Bob            85
1   3  Charlie            92
2   4    David            78

2. Los DataFrames df3 y df4 contienen información de empleados y sus departamentos. Realiza una unión de estos DataFrames de manera que se incluyan todos los empleados, incluso aquellos que no tienen un departamento asignado.

In [4]:
import pandas as pd

data3 = {'ID': [101, 102, 103],
         'Nombre': ['Alice', 'Bob', 'Charlie']}
data4 = {'ID': [101, 103, 104],
         'Departamento': ['Ventas', 'Recursos Humanos', 'Tecnología']}

df3 = pd.DataFrame(data3)
df4 = pd.DataFrame(data4)

#Escribe aquí tu solución

In [5]:


# Realizar una unión de los DataFrames
resultado = pd.merge(df3, df4, on='ID', how='left')
print(resultado)

    ID   Nombre      Departamento
0  101    Alice            Ventas
1  102      Bob               NaN
2  103  Charlie  Recursos Humanos

3. Los DataFrames df5 y df6 contienen información de ventas de productos en dos trimestres diferentes. Concatena estos DataFrames verticalmente para obtener un único DataFrame de ventas anuales.

In [6]:
import pandas as pd

data5 = {'Producto': ['A', 'B', 'C'],
         'Trimestre1': [100, 150, 200]}
data6 = {'Producto': ['A', 'B', 'C'],
         'Trimestre2': [120, 160, 180]}

df5 = pd.DataFrame(data5)
df6 = pd.DataFrame(data6)


#Escribe aquí tu solución

In [ ]:
# Concatenar los DataFrames verticalmente
resultado = pd.concat([df5, df6], axis=0)
print(resultado)

4. El DataFrame df7 con información sobre ventas por producto y mes. Crea una tabla pivote que muestre las ventas totales por producto para cada mes.

In [ ]:
import pandas as pd

data7 = {'Producto': ['A', 'B', 'A', 'B'],
         'Mes': ['Enero', 'Enero', 'Febrero', 'Febrero'],
         'Ventas': [100, 150, 120, 180]}

df7 = pd.DataFrame(data7)

#Escribe aquí tu solución

In [ ]:
# Crear una tabla pivote
tabla_pivote = df7.pivot_table(index='Producto', columns='Mes', values='Ventas', aggfunc='sum')
print(tabla_pivote)

5. El DataFrame df8 contiene información de ventas y deseas crear una nueva columna que indique si una venta es alta o baja. Considera que las ventas superiores a 150 son "altas" y las demás son "bajas".

In [ ]:
import pandas as pd

data8 = {'Venta': [120, 180, 90, 200, 140]}

df8 = pd.DataFrame(data8)


#Escribe aquí tu solución

In [ ]:
# Crear una nueva columna utilizando una función lambda
df8['Tipo de Venta'] = df8['Venta'].apply(lambda x: 'Alta' if x > 150 else 'Baja')
print(df8)

6. El DataFrame df9 con información de empleados y sus salarios, y deseas calcular un bono del 10% sobre el salario de cada empleado utilizando una función lambda.

In [ ]:
import pandas as pd

data9 = {'Nombre': ['Alice', 'Bob', 'Charlie'],
         'Salario': [50000, 60000, 75000]}

df9 = pd.DataFrame(data9)


#Escribe aquí tu solución

In [ ]:

# Aplicar una función lambda para calcular el bono
df9['Bono'] = df9['Salario'].apply(lambda x: x * 0.10)
print(df9)

7. El DataFrame df10 contiene información de clientes, pero con entradas duplicadas. Elimina las filas duplicadas para tener un conjunto de datos único.

In [ ]:
import pandas as pd

data10 = {'Nombre': ['Alice', 'Bob', 'Alice', 'Charlie'],
          'Edad': [25, 30, 25, 35]}

df10 = pd.DataFrame(data10)

#Escribe aquí tu solución

In [ ]:

# Eliminar filas duplicadas
df10 = df10.drop_duplicates()
print(df10)

8. El DataFrame df11 contiene información de ventas, pero algunos registros tienen valores faltantes (NaN). Rellena los valores faltantes en la columna 'Cantidad' con el valor promedio de esa columna.

In [ ]:
import pandas as pd
import numpy as np

data11 = {'Producto': ['A', 'B', 'C', 'A', 'B'],
          'Cantidad': [10, np.nan, 15, np.nan, 20]}

df11 = pd.DataFrame(data11)
#Escribe aquí tu solución

In [ ]:


# Rellenar valores faltantes con el promedio de la columna
promedio = df11['Cantidad'].mean()
df11['Cantidad'].fillna(promedio, inplace=True)
print(df11)

9. El DataFrame df14 contiene información de productos y sus categorías. Reemplaza una categoría específica a tu elección con una nueva.

In [ ]:
import pandas as pd

data14 = {'Producto': ['A', 'B', 'C', 'D'],
          'Categoría': ['Electrónica', 'Ropa', 'Electrónica', 'Juguetes']}

df14 = pd.DataFrame(data14)

#solución...

In [ ]:

# Reemplazar una categoría específica
df14['Categoría'] = df14['Categoría'].replace('Ropa', 'Moda')
print(df14)

10. El DataFrame df15 contiene información de ventas. Remplaza los valores de ventas negativas con cero.

In [ ]:
import pandas as pd

data15 = {'Venta': [100, -50, 120, -30, 140]}

df15 = pd.DataFrame(data15)
#solucion

In [ ]:

# Reemplazar valores negativos con cero
df15['Venta'] = df15['Venta'].apply(lambda x: 0 if x < 0 else x)
print(df15)