La base de datos anime posee los siguientes registros

anime_id - myanimelist.net's unique id identifying an anime.

name - full name of anime.

genre - comma separated list of genres for this anime.

type - movie, TV, OVA, etc.

episodes - how many episodes in this show. (1 if movie).

rating - average rating out of 10 for this anime.

members - number of community members that are in this anime's

![logo_academia.png]()

1. Importe DataFrame anime e imprima los primeros 10 registros, los primeros 5 registros y los últimos registros de la base de datos.

In [1]:
import os
print(os.getcwd())

C:\Users\lahlo\Desafío Latam\Módulo 2 Python\Tutoria 4 Tipos y estructura de datos II\Tutoria

In [2]:
import pandas as pd
anime = pd.read_csv("C:/Users/lahlo/Desafío Latam/Módulo 2 Python/Tutoria 4 Tipos y estructura de datos II/Tutoria/anime.csv", delimiter=";")

In [3]:
anime.head()

   anime_id                 name   genre     type  episodes  rating  members
0     32295       Ai Sky Tree 21  Action      ONA         1    5.00      137
1     32150            Ai to Shi  Action  Special         1    5.00       69
2     29850  AKB48 Stage Fighter  Action  Special         1    5.55      359
3      5330   Alice in Cyberland  Action      OVA         1    5.80      605
4     17395               Ark IX  Action      OVA         1    5.33     5308

In [4]:
#imprimir los 10 primeros registros 
anime.head(10)

,anime_id,name,genre,type,episodes,rating,members
0,32295,Ai Sky Tree 21,Action,ONA,1,5.00,137
1,32150,Ai to Shi,Action,Special,1,5.00,69
2,29850,AKB48 Stage Fighter,Action,Special,1,5.55,359
3,5330,Alice in Cyberland,Action,OVA,1,5.80,605
4,17395,Ark IX,Action,OVA,1,5.33,5308
5,32377,Azure Nihon Data Center,Action,ONA,1,5.33,350
6,5232,Band of Ninja,Action,Movie,1,5.82,748
7,9343,Bousou Sengokushi,Action,OVA,2,5.71,156
8,30573,Break Blade: Virgins War,Action,Special,1,6.58,1876
9,33080,Brotherhood: Final Fantasy XV,Action,ONA,5,7.18,29445

In [5]:
#imprimir los primeros 5
anime.head(5)

   anime_id                 name   genre     type  episodes  rating  members
0     32295       Ai Sky Tree 21  Action      ONA         1    5.00      137
1     32150            Ai to Shi  Action  Special         1    5.00       69
2     29850  AKB48 Stage Fighter  Action  Special         1    5.55      359
3      5330   Alice in Cyberland  Action      OVA         1    5.80      605
4     17395               Ark IX  Action      OVA         1    5.33     5308

In [6]:
#imprimir los últimos registros
anime.tail()

,anime_id,name,genre,type,episodes,rating,members
11534,11447,Yuureisen,Supernatural,Movie,1,5.70,609
11535,17813,Kyoto Animation: Megane-hen,Thriller,Special,1,6.51,5705
11536,3801,Yami no Teio: Kyuuketsuki Dracula,Vampire,Special,1,4.24,1070
11537,6546,Pico: My Little Summer Story,Yaoi,OVA,1,5.21,5551
11538,9232,Yebisu Celebrities 1st,Yaoi,OVA,1,6.08,5082

In [7]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11539 entries, 0 to 11538
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  11539 non-null  int64
 1   name      11539 non-null  object
 2   genre     11539 non-null  object
 3   type      11539 non-null  object
 4   episodes  11539 non-null  int64
 5   rating    11539 non-null  float64
 6   members   11539 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 631.2+ KB

2. Revise las dimensiones de la base de datos y el tipo de variables existentes, cuente cuántos tipos de variables existen e imprima las columnas del dataframe

In [8]:
#Revision de la dimension de la base de datos
anime.shape

(11539, 7)

In [9]:
#Tipos de variables existentes: numericas, categoricas-objetos
anime.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes      int64
rating      float64
members       int64
dtype: object

In [10]:
#Cuente cuantos tipos de variables existen
anime.dtypes.value_counts()

int64      3
object     3
float64    1
Name: count, dtype: int64

In [11]:
anime['genre'].value_counts()

genre
Hentai                                                                            778
Comedy                                                                            474
Music                                                                             291
Kids                                                                              183
Comedy, Slice of Life                                                             157
                                                                                 ...
Action, Adventure, Comedy, Demons, Supernatural, Vampire                            1
Action, Adventure, Comedy, Demons, Shounen, Supernatural                            1
Action, Adventure, Comedy, Demons, Magic, Super Power                               1
Action, Adventure, Comedy, Demons, Fantasy, Martial Arts, Shounen, Super Power      1
Action, Adventure, Comedy, Demons, Fantasy, Magic                                   1
Name: count, Length: 3172, dtype: int64

In [12]:
#Mostrar las columnas
anime.columns

Index(['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members'], dtype='object')

3. Cuente la cantidad de valores de una columna y ordenelos de menor a mayor

In [17]:
#Contar la cantidad de valores de la columna members
anime['members'].value_counts().sort_values(ascending=True)

members
5679     1
2129     1
908      1
1830     1
1210     1
        ..
71      30
66      30
74      31
72      31
60      36
Name: count, Length: 6434, dtype: int64

4. Imprima el rating de las peliculas y series de Dragon Ball Z con un rating de al menos 5 y menor a 7. Hint: Utilice query u operación boleana

In [22]:
#imprima el rating de las peliculas y series de Dragon Ball Z con un rating de al menos 5 y menor a 7
dbz = anime[anime['name'].str.contains("Dragon Ball Z")]

In [27]:
dbz.head()

,anime_id,name,genre,type,episodes,rating,members
84,903,Dragon Ball Z Movie 10: Kiken na Futari! Super...,"Action, Adventure, Comedy, Demons, Fantasy, Ma...",Movie,1,7.11,54947
201,22699,Dragon Ball Z: Zenbu Misemasu Toshi Wasure Dra...,"Action, Adventure, Comedy, Fantasy, Martial Ar...",Special,1,7.00,4153
205,813,Dragon Ball Z,"Action, Adventure, Comedy, Fantasy, Martial Ar...",TV,291,8.32,375662
206,904,Dragon Ball Z Movie 11: Super Senshi Gekiha!! ...,"Action, Adventure, Comedy, Fantasy, Martial Ar...",Movie,1,6.28,49949
207,25389,Dragon Ball Z Movie 15: Fukkatsu no F,"Action, Adventure, Comedy, Fantasy, Martial Ar...",Movie,1,7.55,41051

In [28]:
### query
dbz_query = dbz.query("rating>=5 and rating <7")
dbz_query

,anime_id,name,genre,type,episodes,rating,members
206,904,Dragon Ball Z Movie 11: Super Senshi Gekiha!! ...,"Action, Adventure, Comedy, Fantasy, Martial Ar...",Movie,1,6.28,49949
208,6714,Dragon Ball Z: Atsumare! Gokuu World,"Action, Adventure, Comedy, Fantasy, Martial Ar...",OVA,1,6.76,10044
3056,894,Dragon Ball Z Movie 01: Ora no Gohan wo Kaese!!,"Adventure, Comedy, Fantasy, Sci-Fi, Shounen",Movie,1,6.93,57623
3057,895,Dragon Ball Z Movie 02: Kono Yo de Ichiban Tsu...,"Adventure, Comedy, Fantasy, Sci-Fi, Shounen",Movie,1,6.89,53765
3058,896,Dragon Ball Z Movie 03: Chikyuu Marugoto Chouk...,"Adventure, Comedy, Fantasy, Sci-Fi, Shounen",Movie,1,6.99,57840
3744,897,Dragon Ball Z Movie 04: Super Saiyajin da Son ...,"Adventure, Fantasy, Sci-Fi, Shounen",Movie,1,6.84,51924

In [29]:
### operacion boleana
dbz_bolean = dbz[(dbz['rating'] >= 5) & (dbz['rating'] <7)]
dbz_bolean

,anime_id,name,genre,type,episodes,rating,members
206,904,Dragon Ball Z Movie 11: Super Senshi Gekiha!! ...,"Action, Adventure, Comedy, Fantasy, Martial Ar...",Movie,1,6.28,49949
208,6714,Dragon Ball Z: Atsumare! Gokuu World,"Action, Adventure, Comedy, Fantasy, Martial Ar...",OVA,1,6.76,10044
3056,894,Dragon Ball Z Movie 01: Ora no Gohan wo Kaese!!,"Adventure, Comedy, Fantasy, Sci-Fi, Shounen",Movie,1,6.93,57623
3057,895,Dragon Ball Z Movie 02: Kono Yo de Ichiban Tsu...,"Adventure, Comedy, Fantasy, Sci-Fi, Shounen",Movie,1,6.89,53765
3058,896,Dragon Ball Z Movie 03: Chikyuu Marugoto Chouk...,"Adventure, Comedy, Fantasy, Sci-Fi, Shounen",Movie,1,6.99,57840
3744,897,Dragon Ball Z Movie 04: Super Saiyajin da Son ...,"Adventure, Fantasy, Sci-Fi, Shounen",Movie,1,6.84,51924

5. Guarda tu archivo en CSV en tu sistema de archivos local, no mostrando los indices.

In [36]:
dbz_bolean.to_csv(r"C:/Users/lahlo/Desafío Latam/Módulo 2 Python/Tutoria 4 Tipos y estructura de datos II/Tutoria/dbz_bolean.csv", index =True, sep=",")