# Desafio Manipulacion y transformacion de datos (Parte I)
## Daniel Rojas Lopez

### Ejercicio 1:

Para desarrollar este desafío necesitarás los siguientes archivos:
- incidents.pkl
- officers.pkl
- subjects.pkl

a. Carga los datos y crea un DataFrame con cada uno de ellos.

b. Genera una tabla que contenga la unión de las 3 tablas. hint: utiliza sufijos para para las columnas que se llaman igual usando el parámetro suffixes de pd.merge().

c. Verifica si hay filas duplicadas; si es así, elimínalas.

d. ¿Cuántos sujetos de género F hay en el DataFrame resultante? hint: usa el método .value_counts() sobre la columna.

e. ¿En cuántos números de caso hay por lo menos una sospechosa que sea mujer? hint: utiliza el método unique() para obtener los valores únicos de una columna específica de un DataFrame luego de filtrar.

f. Genera una tabla pivote que muestre en las filas el género del oficial y en las columnas el género del subject. ¿Cómo interpretas los valores que muestra esta vista?

In [1]:
import pandas as pd
import pickle as pkl    
#a.Carga los datos y crea un DataFrame con cada uno de ellos.

pkloadIncidents=pkl.load(open('incidents.pkl', 'rb'))
pkloadOfficers=pkl.load(open('officers.pkl', 'rb'))
pkloadSubjects=pkl.load(open('subjects.pkl', 'rb'))

#convertir los pkl a dataframe

dfIncidents=pd.DataFrame(pkloadIncidents)
dfOfficers=pd.DataFrame(pkloadOfficers)
dfSubjects=pd.DataFrame(pkloadSubjects)

#dfIncidents.to_csv('dfIncidents.csv', index=True)
#dfOfficers.to_csv('dfOfficers.csv', index=True)
#dfSubjects.to_csv('dfSubjects.csv', index=True)


print("\n")

#b. Genera una tabla que contenga la unión de las 3 tablas. hint: utiliza sufijos para para las columnas que se llaman igual usando el parámetro suffixes de pd.merge().
dfMerge = pd.merge(dfIncidents, dfOfficers, on='case_number', suffixes=('_incidents', '_officers'))
print("dfMerge Creado "+"\n")

#c. Verifica si hay filas duplicadas; si es así, elimínalas.
dfMerge.drop_duplicates()
print("dfMerge sin duplicados "+"\n")

#Copiar en archivo csv para visualizar
dfMerge.to_csv('dfMerge.csv', index=True)

#d. ¿Cuántos sujetos de género F hay en el DataFrame resultante? hint: usa el método .value_counts() sobre la columna.

valorCantidad=dfMerge['gender'].value_counts()
print("valorCantidad: "+"\n"+ str(valorCantidad))
print("\n")

#e. ¿En cuántos números de caso hay por lo menos una sospechosa que sea mujer? hint: utiliza el método unique() para obtener los valores únicos de una columna específica de un DataFrame luego de filtrar.
#valorCantidad=dfMerge['gender'].unique()
#print("valorCantidad: "+"\n"+ str(valorCantidad))
#print("\n")

#f. Genera una tabla pivote que muestre en las filas el género del oficial y en las columnas el género del subject. ¿Cómo interpretas los valores que muestra esta vista?

dfPivot = pd.pivot_table(dfMerge, values='case_number', index='gender_officers', columns='gender_subjects', aggfunc='count')
dfPivot.to_csv('dfPivot.csv', index=True)

C:\Users\Daniel\AppData\Local\Temp\ipykernel_1884\1321931819.py:5: DeprecationWarning: numpy.core.numeric is deprecated and has been renamed to numpy._core.numeric. The numpy._core namespace contains private NumPy internals and its use is discouraged, as NumPy internals can change without warning in any release. In practice, most real-world usage of numpy.core is to access functionality in the public NumPy API. If that is the case, use the public NumPy API. If not, you are using NumPy internals. If you would still like to access an internal attribute, use numpy._core.numeric._frombuffer.
  pkloadIncidents=pkl.load(open('incidents.pkl', 'rb'))

dfMerge Creado

dfMerge sin duplicados

valorCantidad:
gender
M    351
F     19
Name: count, dtype: int64


valorCantidad:
['M' 'F']

KeyError: 'gender_officers'

### Ejercicio 2: 
Para continuar con el desarrollo de este desafío, necesitarás el archivos
Cleaned_DS_Jobs.csv
a. Carga los datos y crea un DataFrame con ellos.
b. Utiliza la siguiente lista de valores que serán considerados como nulos:
["na", "NA", -1, "0", "-1", "null", "n/a", "N/A", "NULL"]
(hint: utiliza el método replace para reemplazar los valores indicados por np.nan)
c. Elimina todas las filas con datos faltantes. (hint: utiliza el método .dropna())
d. A partir de la columna “Salary Estimate”, genera dos columnas: Salario Estimado Mínimo
y Máximo. (hint: Utiliza el método apply sobre la columna.)
e. Realiza la recodificación de la columna Size con los valores de la siguiente tabla: (hint:
utilice reemplazo con diccionario usando el método replace sobre la columna.)

In [3]:
import pandas as pd
import numpy as np

# a. Carga los datos y crea un DataFrame con ellos.
df = pd.read_csv("Cleaned_DS_Jobs.csv")

# b. Utiliza la siguiente lista de valores que serán considerados como nulos: ["na", "NA", -1, "0", "-1", "null", "n/a", "N/A", "NULL"] (hint: utiliza el método replace para reemplazar los valores indicados por np.nan)
df.replace(["na", "NA", -1, "0", "-1", "null", "n/a", "N/A", "NULL"], np.nan, inplace=True)

# c. Elimina todas las filas con datos faltantes. (hint: utiliza el método .dropna())
df.dropna(inplace=True)

# d. A partir de la columna “Salary Estimate”, genera dos columnas: Salario Estimado Mínimo y Máximo. (hint: Utiliza el método apply sobre la columna.)
df["min_salary"] = df["Salary Estimate"].apply(lambda x: int(x.split("-")[0].replace("$", "").replace(",", "")))
df["max_salary"] = df["Salary Estimate"].apply(lambda x: int(x.split("-")[1].replace("$", "").replace(",", "")))

# e. Realiza la recodificación de la columna Size con los valores de la siguiente tabla: (hint:utilice reemplazo con diccionario usando el método replace sobre la columna.)
df["Size"] = df["Size"].replace({"10000+": "Large", "5000-9999": "Medium", "1000-4999": "Medium", "100-999": "Small", "10-99": "Small", "0-9": "Small"})
#df.to_csv('df.csv', index=True)
print(df)

                                        Job Title Salary Estimate  \
0                               Sr Data Scientist        137-171
32   Senior Research Statistician- Data Scientist         75-131
38                  Senior Analyst/Data Scientist         75-131
45                          Senior Data Scientist         75-131
54                          Senior Data Scientist         75-131
..                                            ...             ...
579                          Senior Data Engineer        138-158
583                         Senior Data Scientist         80-132
601                         Senior Data Scientist         87-141
640                         Senior Data Scientist        105-167
641        Sr. ML/Data Scientist - AI/NLP/Chatbot        105-167

                                       Job Description  Rating  \
0    Description\n\nThe Senior Data Scientist is re...     3.1
32   Acuity is seeking a Senior Research Statistici...     4.8
38   At Edmunds were driven to make car buying easi...     3.4
45   Klaviyo is looking for Senior Data Scientists ...     4.8
54   Benson Hill empowers innovators to develop mor...     3.5
..                                                 ...     ...
579  Senior Data Engineer\n\nMaster’s degree in Inf...     2.9
583  Job Requisition ID #\n20WD40666\nJob Title\nSe...     4.0
601  Secure our Nation, Ignite your Future\n\nJob S...     4.2
640  About Us\n\nAt GutCheck, we pioneered agile ma...     3.8
641  Sr. ML/Data Scientist - AI/NLP/Chatbot\n\nMist...     3.8

           Company Name           Location      Headquarters  \
0           Healthfirst       New York, NY      New York, NY
32     Acuity Insurance      Sheboygan, WI     Sheboygan, WI
38          Edmunds.com   Santa Monica, CA  Santa Monica, CA
45              Klaviyo         Boston, MA        Boston, MA
54          Benson Hill    Saint Louis, MO   Saint Louis, MO
..                  ...                ...               ...
579  Affinity Solutions       New York, NY      New York, NY
583            Autodesk  San Francisco, CA    San Rafael, CA
601             ManTech     Alexandria, VA       Herndon, VA
640            GutCheck         Denver, CO        Denver, CO
641    Juniper Networks      Cupertino, CA     Sunnyvale, CA

                        Size       Type of ownership  \
0     1001 to 5000 employees  Nonprofit Organization
32    1001 to 5000 employees       Company - Private
38     501 to 1000 employees       Company - Private
45      201 to 500 employees       Company - Private
54      201 to 500 employees       Company - Private
..                       ...                     ...
579      51 to 200 employees       Company - Private
583  5001 to 10000 employees        Company - Public
601  5001 to 10000 employees        Company - Public
640      51 to 200 employees       Company - Private
641  5001 to 10000 employees        Company - Public

                         Industry  ... company_age python  excel  hadoop  \
0              Insurance Carriers  ...        27.0      0      0       0
32             Insurance Carriers  ...        95.0      0      0       0
38                       Internet  ...        54.0      1      1       0
45   Computer Hardware & Software  ...         8.0      0      0       0
54      Biotech & Pharmaceuticals  ...         8.0      1      1       0
..                            ...  ...         ...    ...    ...     ...
579       Advertising & Marketing  ...        22.0      1      0       1
583  Computer Hardware & Software  ...        38.0      1      0       1
601        Research & Development  ...        52.0      1      0       1
640       Advertising & Marketing  ...        11.0      0      0       0
641   Telecommunications Services  ...        24.0      1      1       0

     spark aws  tableau  big_data        job_simp  seniority
0        0   1        0         0  data scientist     senior
32       0   0        0         0  data scientist     senior
38       0   1        1         0  data scientist     senior
45       0   0        0         0  data scientist     senior
54       0   0        0         1  data scientist     senior
..     ...  ..      ...       ...             ...        ...
579      1   0        1         0   data engineer     senior
583      1   0        0         1  data scientist     senior
601      1   0        1         1  data scientist     senior
640      0   0        0         0  data scientist     senior
641      1   1        0         0  data scientist     senior

[80 rows x 27 columns]