![logo_academia.png]()

Glosario:

In [ ]:
###### tutoria 20250122
# () tuplas . objetos no modificables
# [] listas:
## append, remove

# {} diccionarios: 1:2 donde 1 es la clave y 2 el valor
## diccionario = dict(zip(numeros, usuario)): para volver dos listas en un diccionario

# Listas: Objetos donde se almacenan elementos separados por coma
# Numpy arrays: estan echos para realizar operaciones matematicas manipulando datos. Es necesario para ello usar la libreria numpy

###### tutoria 20250129
# head, tail: ver primeros/úlltimos
# value_counts(): contador
# sort_values(by="", ascending=False) : ordena una variable de mayor a menor
# describe().round() : estadisticas descriptivas redondeadas a 1 decimal
# rank(ascending=False, method="first") : rankea un objeto de mayor a menor segun indice
# iloc: recorre los indices de un dataframe
# loc: recorre los objetos de un dataframe. (filas, columnas)
# dragon_ball[(dragon_ball["rating"] >=5) & dragon_ball["rating"]<9] #operacion boleana, | or y & and
# dragon_ball.query("rating >=5 and rating <9") #operacion query, mas rapida y un codigo mas corto
# anime.drop(columns=["filtro_miembros"]) : elimina una columna de mi dataframe

###### tutoria 20240205
# presencia de valores nulos: df.isnull().sum(); df.isnull().sum().sum() (para el total de fila y columna) ; df.isnull().sum(axis=1) (dentro de las filas)
# print(turismo1.duplicated().sum()): ver si hay duplicados
# df_merge = turismo1.merge(turismo2, left_on = "CustomerID", right_on = "IDCLIENT", how = "inner"): union de dos dataframes
# df_merge_unico = turismo1.\  merge(turismo2, how  = "inner", left_on="CustomerID", right_on="IDCLIENT").\  merge(turismo3, how = "inner", on = "IDCLIENT"): union de tres dataframes
#df_sin_duplicados = df_merge2.dropna().reset_index(drop=True) : eliminacion de na
"""df_tabla_pivote = pd.pivot_table(
    data = df_sin_duplicados,#Dataframe
    index = "Passport",       #Index es el llamado a las filas que van a resultar de mi tabla pivote
    columns = "Gender",        #Columns es el llamado a las columnas que van a resultar de mi tabla pivote
    values = "CustomerID",     #Values: definimos la variable sobre la cual calcularemos la cantidad (en este caso)
    aggfunc = "count", ;lambda x: round((x.count() / df_sin_duplicados["CustomerID"].count())*100, 1),      #Se define el metodo estadistica a utilizar (avg,sdv, etc)
    margins = True             #margins sirve para imprimir los valores totales de filas y columnas
) #creacion de tablas pivotes con una funcion definida o con comando lamnda (yo creo una ecuación matemática)
"""

![logo_academia.png]()

Conjunto de datos:
Los datos contienen detalles demográficos, métricas relacionadas con el trabajo y un indicador de deserción.

1) EmployeeNumber - Identificador del empleado

2) Attrition - ¿El empleado ha renunciado?

3) Age - Edad del empleado

4) BusinessTravel - Compromisos de viaje para el trabajo

5) DailyRate - Descripción de datos no disponible

6) Department - Departmento del empleado

7) DistanceFromHome - Distancia del trabajo a casa (en km)

8) Education - 1-Bow College, 2-College, 3-Bachelor, 4-Master,5-Doctor

9) EducationField - Campo de educación

10) EnvironmentSatisfaction - 1-Bajo, 2-Medio, 3-Alto, 4-Muy Alto

11) Gender - Género del empleado

12) HourlyRate - Descripción de datos no disponible

13) JobInvolvement - 1-Low, 2-Medium, 3-High, 4-Very High

14) JobLevel - Nivel de trabajo (1 to 5)

In [2]:
import pandas as pd
hr = pd.read_excel("HR_Employee_Attrition_Dataset.xlsx")
hr.head(5)

,EmployeeNumber,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel
0,1,Yes,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,3,2
1,2,No,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,2,2
2,3,Yes,37,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,2,1
3,4,No,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,3,1
4,5,No,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,3,1

1. Revise si dentro del dataframe existen duplicados y valores nulos

2. Revise las estadísticas descriptivas de la edad y cree una columna que contenga los intervalos separados por cuartil.

3. Cree una columna que clasifique Jobinvolvment. Todo valor mayor a 1 es Medio-Alto-Muy Alto y todo valor=1 es bajo

4. Obtenga el porcentaje de hombre provenientes de la base de datos. Requiere que la variable categórica "Gender" se vuelva numérica ¿Qué método usar?

5. Tome la edad y cree una columna llamada "anho de nacimiento". Tambien cree otra que se llame "FechaNacimientoEstimada" que contenga el anho de nacimiento, el dia y el mes del dia de hoy (YYYY-DD-MM)

6. Cambie el formato de la FechaNacimientoEstimada a YY-MM-DD como un datetime