# Prueba - Python para el análisis de datos
## Daniel Rojas Lopez

### Ejercicio 1:
   1. Genera una función llamada leer_tabla(tabla, engine) y utilízala para leer tablas
completas desde la base de datos en dataframes independientes. Utilizando esta
función, importa las siguientes tablas:
- order
- orderdetails
- customers
- products
- employees
2. Realiza el cruce entre los DataFrames, asegurándote de utilizar correctamente el
parámetro validate para asegurar la integridad referencial.
_ 1
www.desafiolatam.com
3. Agrega las siguientes columnas, considerando su nombre y la fórmula asociada
- venta: quantityOrdered*priceEach
- costo: quantityOrdered*buyPrice
- ganancia: considerando las columnas anteriores
4. ¿Cuál fue el total de ventas por línea de productos? Incluye una fila de totales.
5. ¿Cuántos clientes distintos hicieron compras?
6. ¿Existen clientes que aún no han hecho ninguna compra? ¿Cuántos son?
7. Se solicita la creación de dos reportes, que respondan las preguntas dadas
● ¿Cuáles fueron los 10 clientes que reportan mayores ventas brutas en dinero durante
el año 2005? Genera un DataFrame y guárdalo en una tabla de Postgre llamada
top_10_clientes_2005, en la que se especifique el nombre del cliente y su
correspondiente venta, costo y ganancia.
● ¿Cuál fue el top 10 de artículos más vendidos durante el año 2005? Genera un
DataFrame y guárdalo en una tabla de Postgre llamada top_10_productos_2005, en la
que se especifique el nombre del producto y su correspondiente venta, costo y
ganancia.
Para este punto debes aplicar el principio DRY, por lo que se deben utilizar funciones para
realizar el filtrado por fechas, generar tablas pivote y escribir tabla en Postgre. Las funciones
deben estar en un archivo separado llamado funciones.py y ser importadas al Jupyter
Notebook. En este archivo se debe incluir:
● Una función que permita filtrar un DataFrame por fechas, indicando dataframe,
columna para filtrar, fecha inicio y fecha fin. La función debe retornar un DataFrame.
● Una función que permita generar reportes dependiendo de parámetros de entrada
como dataframe, filas, columnas, valores y medida (funcion_agrupadora). Utilizar
fill_value = 0. Esta función debe retornar un DataFrame pivotado.
● Una función que permita escribir en la base de datos a través del guardado de un
DataFrame dependiendo de parámetros de entrada como DataFrame, nombre de la
tabla, engine y comportamiento en caso de que exista la tabla (if_exists).

In [3]:
import psycopg2
import pandas as pd


def coneccionBD():
    # Conéctate a PostgreSQL (sin especificar una base de datos)
    conn = psycopg2.connect(database="classicmodels", #Es el nombre de la base de datos a la que te quieres conectar, postgres es por defecto
                                user="postgres", #Es el nombre de usuario que tiene permisos para conectarse a esa base de datos.
                                password="postgres", 
                                host="localhost", #Indica dónde está alojada la base de datos. "localhost" significa que está en el mismo computador donde estás ejecutando el script de Python.
                                port="5432")    
    print("Base de datos conectada exitosamente.")
    return conn
    
def cargarBD(conn):
    #cargar el script sql para carga la base de datos
    cursor = conn.cursor()

    sql_file_path = "classicmodels.sql"

    # Leer el archivo SQL y ejecutarlo
    with open(sql_file_path, "r", encoding="utf-8") as sql_file:
        print("Leyendo el archivo SQL..."+sql_file_path)  
        sql_script = sql_file.read()  # Lee todo el contenido del archivo SQL
        cursor.execute(sql_script)  # Ejecuta el script

    conn.commit()  # Confirma los cambios
    cursor.close()
    conn.close()

    print("Base de datos importada exitosamente.")
    return conn





#1. Genera una función llamada leer_tabla(tabla, engine) y utilízala para leer tablas completas desde la base de datos en dataframes independientes. Utilizando esta función, importa las siguientes tablas:
#- order
#- orderdetails
#- customers
#- products
#- employees
def leer_tabla(tabla, engine):
    df = pd.read_sql_table(tabla, engine)
    return df

conn = coneccionBD()
#cargarBD(conn)


dfOrdernes=leer_tabla("orders", conn)
dfOrdernes.to_csv("orders.csv", index=False)







# 2. Realiza el cruce entre los DataFrames, asegurándote de utilizar correctamente el parámetro validate para asegurar la integridad referencial.




# 3. Agrega las siguientes columnas, considerando su nombre y la fórmula asociada
# - venta: quantityOrdered*priceEach
# - costo: quantityOrdered*buyPrice
# - ganancia: considerando las columnas anteriores
# 4. ¿Cuál fue el total de ventas por línea de productos? Incluye una fila de totales.
# 5. ¿Cuántos clientes distintos hicieron compras?
# 6. ¿Existen clientes que aún no han hecho ninguna compra? ¿Cuántos son?
# 7. Se solicita la creación de dos reportes, que respondan las preguntas dadas
# ● ¿Cuáles fueron los 10 clientes que reportan mayores ventas brutas en dinero durante el año 2005? Genera un DataFrame y guárdalo en una tabla de Postgre llamada top_10_clientes_2005, en la que se especifique el nombre del cliente y su correspondiente venta, costo y ganancia.
# ● ¿Cuál fue el top 10 de artículos más vendidos durante el año 2005? Genera un DataFrame y guárdalo en una tabla de Postgre llamada top_10_prod   uctos_2005, en la que se especifique el nombre del producto y su correspondiente venta, costo y ganancia.  Para este punto debes aplicar el principio DRY, por lo que se deben utilizar funciones parrealizar el filtrado por fechas, generar tablas pivote y escribir tabla en Postgre. Las funciones deben estar en un archivo separado llamado funciones.py y ser importadas al Jupyter Notebook. En este archivo se debe incluir:
# ● Una función que permita filtrar un DataFrame por fechas, indicando dataframe, columna para filtrar, fecha inicio y fecha fin. La función debe retornar un DataFrame.
# ● Una función que permita generar reportes dependiendo de parámetros de entrada como dataframe, filas, columnas, valores y medida (funcion_agrupadora). Utilizar fill_value = 0. Esta función debe retornar un DataFrame pivotado.
# ● Una función que permita escribir en la base de datos a través del guardado de un DataFrame dependiendo de parámetros de entrada como DataFrame, nombre de la tabla, engine y comportamiento en caso de que exista la tabla (if_exists).

Base de datos conectada exitosamente.

C:\Users\Daniel\AppData\Local\Temp\ipykernel_20372\3293652894.py:45: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_table(tabla, engine)

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': syntax error at or near ";"
LINE 8:             AND name=?;
                              ^