![logo_academia.png]()

 # <center><font color='green'>Ejercicio en clase 2<p>Pandas dataFrames</font></center>

Un **DataFrame** de **Pandas** tambien puede ser construido a partir de estructuras de datos mas simples de Python, como las **listas** y los **diccionarios**, veamos algunos ejemplos:

In [ ]:
import pandas as pd

# Una lista de diccionarios.

lista_de_diccionarios = [

    {'nombre': 'Ana', 'profesion': 'guitarra', 'edad': '34'},
    {'nombre': 'Luis', 'profesion': 'fot√≥grafo', 'edad': '27'},
    {'nombre': 'Mar√≠a', 'profesion': 'profesora', 'edad': '42'},
    {'nombre': 'Pedro', 'profesion': 'chef', 'edad': '39'},
    {'nombre': 'Isabel', 'profesion': 'arquitecta', 'edad': '29'},
    {'nombre': 'Sergio', 'profesion': 'm√∫sico', 'edad': '25'},
    {'nombre': 'Carla', 'profesion': 'ingeniera', 'edad': '31'},
    {'nombre': 'David', 'profesion': 'estudiante', 'edad': '20'},
    {'nombre': 'Luc√≠a', 'profesion': 'abogada', 'edad': '36'},
    {'nombre': 'Jorge', 'profesion': 'actor', 'edad': '28'}

]

df = pd.DataFrame(lista_de_diccionarios)
df

   nombre   profesion edad
0     Ana    guitarra   34
1    Luis   fot√≥grafo   27
2   Mar√≠a   profesora   42
3   Pedro        chef   39
4  Isabel  arquitecta   29
5  Sergio      m√∫sico   25
6   Carla   ingeniera   31
7   David  estudiante   20
8   Luc√≠a     abogada   36
9   Jorge       actor   28

In [ ]:
# Una lista de listas. (listas anidadas):

lista_anidada = [

    ['Ana', 'guitarra', '34'],
    ['Luis', 'fot√≥grafo', '27'],
    ['Mar√≠a', 'profesora', '42'],
    ['Pedro', 'chef', '39'],
    ['Isabel', 'arquitecta', '29'],
    ['Sergio', 'm√∫sico', '25'],
    ['Carla', 'ingeniera', '31'],
    ['David', 'estudiante', '20'],
    ['Luc√≠a', 'abogada', '36'],
    ['Jorge', 'actor', '28']
]


df = pd.DataFrame(lista_anidada, columns = ['nombre', 'profesion', 'edad'])
df

   nombre   profesion edad
0     Ana    guitarra   34
1    Luis   fot√≥grafo   27
2   Mar√≠a   profesora   42
3   Pedro        chef   39
4  Isabel  arquitecta   29
5  Sergio      m√∫sico   25
6   Carla   ingeniera   31
7   David  estudiante   20
8   Luc√≠a     abogada   36
9   Jorge       actor   28

In [ ]:
# Obtener la primera fila.
df.head(1)

  nombre profesion edad
0    Ana  guitarra   34

**Pandas** tambi√©n es capaz de leer datos desde muchisimas fuentes externas, entre ellas estan los archivos excel, archivos de texto planos, html de una pagina web, etc.

üìäüìà Veamos un ejemplo leyendo un archivo **EXCEL**:

In [ ]:


df = pd.read_excel("resumen_resultados_astronautas.xlsx")
df.head(10)

,nombre,edad,peso,altura,evaluacion_fisica,evaluacion_psicologica,evaluacion_adaptativa,evaluacion_medica,anos_experiencia,califica
0,Alana Morillo,32,75,180,93,88,78,89,6,Si
1,F√°tima Tafalla,27,68,167,82,95,81,87,4,Si
2,Sof√≠a Puig,29,80,185,85,80,90,91,3,Si
3,Valentina Tasis,30,65,175,90,91,85,92,2,No
4,Regina Cicer√≥n,31,76,183,89,87,83,90,7,Si
5,Amaya de la Cruz,26,64,170,80,94,79,86,4,No
6,Mar√≠a Juder√≠as,28,78,182,88,85,87,92,5,Si
7,Perla Alcocer,30,71,168,86,92,82,88,3,No
8,Consuela Arboleda,33,77,188,94,83,89,93,8,Si
9,Mar√≠a Jos√© Franco,29,70,175,87,90,80,89,2,No

üóÇÔ∏èüóÑÔ∏è Ahora para un archivo **CSV**:

In [ ]:
df_venta_rosquillas = pd.read_csv("donut_lab_sales.csv", delimiter = ',')
df_venta_rosquillas.head(5)

                  rosquilla  cantidad
0       Rosquilla de Filete        52
1        Rosquilla de Tacos        12
2          Rosquilla de Uva        62
3  Rosquilla de Champi√±ones        90
4        Rosquilla de Carne        22

ü•íüè∫ Ahora con un archivo **PICKLE** (CUIDADO: puede no ser soportado por algunas versiones de Python):

In [ ]:
df_info_nutricional = pd.read_pickle("info_nutricional_rosquillas.pkl")
df_info_nutricional.head(5)

,Tipo de Rosquilla,Puntuaci√≥n,Calor√≠as,Grasas (g),Prote√≠nas (g),Carbohidratos (g),Az√∫car (g)
0,Queso,75,320,16,4,38,22
1,Hamburguesa,65,290,14,3,36,18
2,Carne,63,310,15,3,38,20
3,Miel,61,280,13,2,36,21
4,Uva,60,250,12,2,32,18